<div>
  <div class="flex-container">
    <h2 class="title">{{ olympic?.country }}</h2>
  </div>
  <div class="flex-container">
    <div class="info-square">
      <p>Number of entries<br/><b>{{ olympic?.participations?.length }}</b></p>
    </div>
    <div class="info-square">
      <p>Total number medals<br/><b>{{ getTotalMedals() }}</b></p>
    </div>
    <div class="info-square">
      <p>Total number of athletes<br/><b>{{ getTotalAthletes() }}</b></p>
    </div>
  </div>
  <div class="chart-container">
    <canvas
      [data]="olympicsData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      baseChart
    >
    </canvas>
  </div>

  <button (click)="goToPreviousPage()" class="return-button">
    Back
  </button>
</div>
