// Highlight styling
.highlight {
  color: #e74c3c;
  font-weight: bold;
}

// Chart container for responsiveness
.chart-container {
  position: relative;
  height: 40vh;
  width: 100vw;
  //height: 100%;
  //width: 100%;

  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically

  @media (max-width: 768px) {
    //width: 90vw;
    //height: 35vh;
  }

  @media (max-width: 480px) {
    //width: 95vw;
    //height: 30vh;
  }
}

// Container for the main content
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  margin-right: 20%;

  // Responsiveness
  @media (max-width: 768px) {
    padding: 1rem;
    margin-left: 2%;
    margin-right: 2%;
  }

  @media (max-width: 480px) {
    padding: 0.8rem;
    margin-left: 2%;
    margin-right: 2%;
  }
}

