<div>
  <div class="flex-container">
    <h2 class="title"> Medals per Country</h2>
  </div>
  <div class="flex-container">
    <div class="info-square">
      Number of olympics<br/><b>{{ this.maximumNumberOfOlympics() }}</b>
    </div>
    <div class="info-square">
      Number of countries<br/><b>{{ (olympics$ | async)?.length }}</b>
    </div>
  </div>
  <div class="chart-container">
    <canvas
      (chartClick)="chartClicked($event)"
      [data]="olympicsChartData"
      [options]="pieChartOptions"
      [type]="pieChartType"
      baseChart
    >
    </canvas>
  </div>
</div>
